$geist-primary: #0265FA;
$geist-text: #34495E;

$geist-white: #FFFF;

$geist-login-background: #FAFAFA;
$geist-background: #FAFAFA;
$geist-border: #BFBFC0;
$geist-grey-light: #e5e5e5;
$geist-grey: #94a8b6;

$geist-scroll: $geist-grey-light;
$geist-input: $geist-grey-light;
$geist-border: $geist-grey-light;
