.parcel-transition {
    transition-delay: 0ms !important;
    transition-duration: 200ms !important;
    transition-property: none !important;
    transition-property: all, transform, opacity !important;
    transition-timing-function: ease !important;
}
